.vs/ConsoleApp4/FileContentIndex/13bc6ec8-eb6f-40b7-9607-cdea4c2b0d48.vsidx
.vs/ConsoleApp4/FileContentIndex/628a71aa-6b74-4b19-afc1-6b42d7408ab4.vsidx
.vs/ConsoleApp4/FileContentIndex/64cf4593-43d7-4e06-8cfb-d77b6f620b0f.vsidx
.vs/ConsoleApp4/FileContentIndex/9acc5864-80c7-425c-9cb0-3ef18e325eca.vsidx
.vs/ConsoleApp4/FileContentIndex/9c9c0cf9-bd6b-4846-be6b-2953f6a6addb.vsidx
.vs/ConsoleApp4/FileContentIndex/a388fb76-780e-4a17-b9bb-aa82b6070cbc.vsidx
.vs/ConsoleApp4/FileContentIndex/d8a7d16e-b642-4c93-bf34-34154b818fd6.vsidx
.vs/ConsoleApp4/FileContentIndex/e0f490c7-6e3f-43a0-89dc-58629e971f6b.vsidx
.vs/ConsoleApp4/v17/.suo
.vs/ConsoleApp4/v17/DocumentLayout.backup.json
.vs/ConsoleApp4/v17/DocumentLayout.json
