body {
    background-color: #1E1E1E;
    color: #FFF0F0;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE/Edge */
}

.menu {
    background-color: #2B2B2B;
    /* margin-top: 128px; <-- Supprimé */
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 3px rgba(255, 128, 0, 0.2);
}

.header {
    position: relative;
}

.header h1 {
    color: #FF8000;
    margin: 0;
    font-size: 24px;
}

.header h2 {
    color: #AAA;
    margin: 5px 0 20px;
    font-size: 16px;
}

.header img {
    width: 50px;
    position: absolute;
    top: 0px;
    right: 10px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.tab-button.active,
.tab-button:hover {
    background-color: #FF8000;
    color: #000;
}

.tab-content {
    background-color: #252525;
    padding: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: opacity 1s linear, max-height 0.3s linear, padding 0.3s cubic-bezier(0.35, 0.9, 0.47, 1.07), visibility 0.3s ease;
}

.tab-content.hidden {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    visibility: hidden;
    pointer-events: none;
    transition: none;
    /* On supprime la transition ici pour cacher instantanément */
}


button {
    background-color: #FF8000;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffa733;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="range"] {
    width: 150px;
}

input[type="color"] {
    width: 40px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}

select,
input[type="number"],
input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #333;
    color: #FFF;
    margin-left: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}